@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0; /* Your background color */
  color: #333; /* Your text color */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin: 20px 0;
}

img {
  max-width: 20%; /* Maximum width to maintain responsiveness */
  height: 20;
  border-radius: 12px;
}

ul.hobbies {
  list-style: none;
  padding: 0;
  text-align: left;
}

ul.hobbies li {
  background-image: url("laptop.svg"); /* Your bullet image */
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 0 50%;
  padding-left: 30px;
  margin: 10px 0;
}

.contact-link {
  font-size: 24px;
  color: #333; /* Match or contrast text color */
  text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  ul.hobbies li {
    font-size: 16px;
  }

  .contact-link {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  img {
    width: 80%; /* Larger percentage for smaller screens */
  }

  ul.hobbies {
    padding: 0 20px;
  }
}
